h1 {
	color: green
	font-size 40px;
}

.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#canvious {
	border-width: 10px;
	background-color: rgb(27, 22, 44);
	border-style: ridge;
}